
HelloWorld.csproj.user
.vs/HelloWord/v16/.suo
.vs/HelloWord/DesignTimeBuild/.dtbcache.v2
.vs/HelloWord/v17/.futdcache.v2
.vs/ProjectEvaluation/helloword.metadata.v5.2
.vs/ProjectEvaluation/helloword.projects.v5.2
.vs/HelloWord/v17/.suo
.vs/HelloWord/DesignTimeBuild/.dtbcache.v2
.vs/HelloWord/v17/.suo
.vs/HelloWord/v17/.suo
.vs/HelloWord/DesignTimeBuild/.dtbcache.v2
.vs/HelloWord/v17/.suo
.vs/HelloWord/DesignTimeBuild/.dtbcache.v2
.vs/HelloWord/v17/.suo
